name: Build and Deploy Docker Image to GHCR

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      run: docker build ./src/MyWebApi --file ./src/MyWebApi/Dockerfile --tag ghcr.io/${{ github.repository_owner }}/mywebapi:latest

    - name: Push the Docker image to GHCR
      run: docker push ghcr.io/${{ github.repository_owner }}/mywebapi:latest
